p{
    color:blue;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;

}

button{
    display: inline-block;
    padding: 10px 20px;
}

div{
    display: inline-block;
}

#table{
    display: block;
    margin-top: 20px;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}
